.contenedor_flex{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}
.contenedor_flex > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border: solid 1px black;
    width: 200px;
    text-align: justify;
}
.contenedor_flex_space{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor_flex_space > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border: solid 1px black;
    width: 200px;
    text-align: justify;
}
.contenedor_flex_baseline{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    align-items: baseline;
}
.contenedor_flex_baseline > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border: solid 1px black;
    width: 200px;
    text-align: center;
    margin: 10px;
}