.fakeimg {
    width: 300px ;
    height: 200px;
    background: #aaa;
    box-shadow: 10px 10px 5px black;
  }
  #header{
      background-image:url(../IMG/pac-man-header.jpg) ;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  .header_text{
    font-family: 'Press Start 2P', cursive;
    color:white;
    text-align: center;
  }
  #activo {
color: #fff;
text-align: center;
animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
from {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}

.header_text {
animation: color-change 1s infinite;
}

@keyframes color-change {
0% { color: white; }
50% { color:gold ; }
100% { color: white; }
}

tr:nth-child(even) { background-color: #f2f2f2;}
thead{ background-color: #f2f2f2;}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-bottom-width:1px;border-color:black;border-style:solid;border-top-width:1px;border-width:0px;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 15px;word-break:normal;}
.tg th{border-bottom-width:1px;border-color:black;border-style:solid;border-top-width:1px;border-width:0px;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 15px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-tf2e{text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}